* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: whitesmoke;


}

header {

    min-height: 100px;
    background: #ee4d2d;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: small;
    color: white;
    padding-top: 6px;
}

a {
    text-decoration: none;
    color: white;
    font-size: small;
}

a:hover {
    cursor: pointer;
    color: rgb(189, 184, 184);
}

.busc {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.busc input {
    width: 750px;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid;
    outline: none;
    font-size: 1rem;
    color: grey;
}

.help {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: small;
}


.tudo {
    display: flex;
    justify-content: center;
    background: #fff;
    background: whitesmoke;
    margin-top: 30px;
    margin-bottom: 30px;

}

.log {
    display: flex;
    margin-top: 5px;

}

.gemeos {
    margin-left: 5px;
}

.prop {
    display: flex;
    justify-content: end;
}

.banner {
    display: flex;
    justify-content: center;

}

.icons {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.icons p {
    display: flex;
    justify-content: center;
}

.icons img {
    height: 40px;
    width: 40px;
}

.icons img:hover {
    height: 35px;
    transition: 1s;
}


.titulo {
    display: flex;
    align-items: center;
    background: #fff;
    color: #ee4d2d;
    height: 65px;
    margin: 1px;
    margin-left: 158px;
    margin-right: 158px;
    padding: 0 1.25rem;
}



.titulo h3{
    color: #ee4d2d;
}






p {
    font-size: 12px;
    color: #fff;
}

section {
    display: flex;
    justify-content: center;
    min-height: 300px;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
    margin-top: 1px;

}

.item {
    display: flex;
    align-items: center;
    padding: 5px;
    background: #fff;
    gap: 15px;
}

.item img {
    height: 130px;
    gap: 20px;
}

.item img{
    height: 140px;
}

.frase {
    background-color: rgba(0, 0, 0, .26);
    color: #fff;
    text-align: center;
}

.txt {
    color: #555;
    font-size: 20px;
}

.barra {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background: #555;
}

.magazine {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}


.pag{
    background: #fff;
    padding-bottom: 13px;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
    cursor: pointer;
    transition: 1s;
    }

.pag :hover{
    
border: 1px solid #ee4d2d;    

}

.it {
    background: #fff;
}

.it img {
    height: 190px;
}

.txt02{
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-bottom: 9px;
}

.valor{
    color: #ee4d2d;
    padding-left: 20px;
}