* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;


}

header {

    min-height: 100px;
    background: #ee4d2d;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: small;
    color: white;
    padding-top: 6px;
}

a {
    text-decoration: none;
    color: white;
    font-size: small;
}

a:hover {
    cursor: pointer;
    color: rgb(189, 184, 184);
}

.busc {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.busc input {
    width: 750px;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid;
    outline: none;
    font-size: 1rem;
    color: grey;
}

.help {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: small;
}

.banner {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 20px;
    height: 40px;
    width: 40px;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    height: 30px;
}

section {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    gap: 20px;

}

section :hover {}


.shop {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 200px;
    width: 200px;
}

.venda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100px;
    width: 200px;
    background: transparent;
    gap: 1px;
}

.venda img {
    height: 250px;
    transition: 1s;

}

.venda img:hover {
    height: 280px;
    transition: 1s;

}

p {
    font-size: 12px;
}

.venda button {
    background: transparent;
    border: none;
    cursor: pointer;
}